.slide {
  display: grid;
}

.slide-pages {
  display: grid;
  grid-area: 1/1;
  margin: 0 auto;
}

.slide-pages > * {
  display: block;
  max-width: 100%;
  max-height: 90vh;
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
}

.slide-pages > .active {
  opacity: 1;
  visibility: visible;
}

.slide-controls {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slide-controls > * {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
